@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string Hero = "Online Movie Store";
}

<div class="text-center">
    <h1 class="display-4">@Hero</h1>
    <p>
        a
        <a href="https://dotnet.microsoft.com/apps/aspnet" _target="_blank">
            ASP.NET Demo
        </a>
        by
        <a href="https://cliff-crerar.tech">
            &nbsp;Cliff Crerar
        </a>.
    </p>
</div>
